
addict==2.4.0
ansible==9.13.0
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-bigquery==3.31.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
ipython==9.1.0
more-executors==2.11.4
prometheus-client==0.21.1
prompt-toolkit==3.0.51
python-hostlist==2.2.1
pyyaml==6.0.2
requests==2.32.3
